@-webkit-keyframes movement {
  0% {
    transform:rotate(0deg);
  }

  100% {
    transform:rotate(360deg);
  }
}

body{
  min-width: 1100px;
}

.page-main {

  .block1 {
    text-align: center;
    padding: 40px 0;

    h2 {
      font-family: $mp-regular;
      font-size: 40px;
      color: #333;
      margin: 0 0 25px 0;

    }

    .item-5{
      img{
        transform: rotate(65deg);
      }
    }

    .ver-line{
      padding: 60px 0px;
    }

    .block-item {
      display: inline-block;
      width: 315px;
      padding: 20px 10px;
      vertical-align: top;
      @include transform(scale(0));
      @include transition(transform 1s);

      h5{
        text-transform: uppercase;
      }

      img{
        &:hover{
          @include animation(movement 2s infinite);
        }
      }
    }
  }

  .block2-wrapper {
    background: image-url('bg/block2-bg.jpg');

    .block2 {
      height: 535px;
      overflow: hidden;

      h2 {
        font-size: 40px;
        font-family: $mp-regular;
        color: #fff;
        text-align: center;
        padding: 50px;
        position: relative;
        top:-100%;
        @include transition(top,1s);
      }

      .slider{
        position: relative;
        left: -100%;
        @include transition(left, 1s);
      }
    }
  }

  .block3-wrapper {
    overflow: hidden;

    .block-3 {
      padding: 30px 0;

      .title-bottom{
        position: relative;
        bottom: -300px;
        left:0;
        @include transition(bottom 1s);
      }

      h2 {
        color: #333;
        font-size: 40px;
        font-family: $mp-regular;
        text-align: center;
        padding: 0 0 30px 0;
        margin: 0;
      }

      .text {
        line-height: 24px;
        text-indent: 30px;
        position: relative;
        top:-500px;
        left:0;
        @include transition(top 1s);

        img{
          padding: 20px 0;
        }
      }
    }
  }

  .block4-wrapper {
    background: image-url('bg/block3-bg.jpg');
    background-size: cover;

    .block4 {
      height: 945px;

      h2 {
        font-size: 40px;
        font-family: $mp-regular;
        color: #fff;
        text-align: center;
        padding: 30px;
        margin: 0;
      }

      .img {
        display: inline-block;
        margin: 22px;
        @include transition(transform .4s, opacity .4s);
        opacity: 0;
        @include transform(scale(0));

        img {
          display: block;
        }
      }
    }
  }

  .block5-wrapper {

    .block5 {

      h2 {
        color: #333;
        font-size: 40px;
        font-family: $mp-regular;
        text-align: center;
        padding: 30px;
        margin: 0;
        font-weight: 100;
      }

      .slider {
        position: relative;
        left:-100%;
        top:0;
        @include transition(left 1s);

        img {
          display: block;
          width: 100%;
        }
      }

      .flexslider {
        height: 150px;
      }

      .slide {
        display: inline-block;
        margin: 37px 27px;
        background: image-url('tmp/slider5.png') no-repeat;
        background-size: cover;
        width: 222px;
        height: 84px;
        border: 1px solid #eaeaea;
        @include transition(border .4s, transform .6s, background .6s);

        &:hover {
          border: 1px solid #f7c51e;
          @include transform(scale(1.2));
          background: image-url('tmp/slider5-active.png') no-repeat;;
          background-size: cover;
        }
      }

      .client {
        position: relative;

        &:before {
          @include pseudo-block($top: 121px, $left: 120px);
          @include oneline-sprite-box($icons, line-icons);
        }

        .line-odd, .line-even {
          margin-bottom: 40px;

          .item-wrapper {
            width: 160px;
            display: inline-block;
            margin-left: 184px;
            vertical-align: top;
            text-align: center;
            @include transform(scale(0));
            @include transition(transform 1s);

            &:first-child {
              margin-left: 0;
            }

            .text {
              text-align: center;
            }
          }

          .item {
            display: inline-block;
            padding: 45px;
            border: 1px solid #8c8888;
            @include border-radius(50%);
            @include transition(border 1s);
            position: relative;
            width:50px;
            height: 50px;
            margin-bottom: 10px;

            &:hover {
              border: 1px solid #417c56;
            }

            img {
              display: block;

            }

            .number-wrapper {
              position: absolute;
              top: 0;
              left: 0;
              width: 149px;
              height: 149px;
              @include border-radius(50%);
              @include transition(transform 1s);

              &:hover {
                @include transform(rotate(360deg));

                .number {
                  background: #3c7952;
                }
              }

              .number {
                position: absolute;
                padding: 5px 9px;
                left: -7px;
                top: 30px;
                background: #888484;
                cursor: pointer;
                border-radius: 50%;
                -o-border-radius: 50%;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                color: #fff;
              }
            }
          }
        }

        .line-even {
          padding-left: 170px;
        }

      }
    }
  }
  .block-6-wrapper {
    background-image: url("../../theme/images/tmp/back6.jpg");
    background-size: cover;

    .block-6 {
      height: 500px;

      p {
        font-size: 30px;
        color: #ffffff;
        float: left;
        margin-top: 350px;
      }

      form {
        width: 470px;
        float: right;
        background-color: rgba(102, 103, 100, 0.61);
        padding: 30px 20px 0 20px;
        box-sizing: border-box;
        text-align: center;
        margin-top: 70px;

        span {
          font-size: 26px;
          color: #f7c51e;
          margin-bottom: 20px;
          display: block;
        }

        input {
          outline: none;
          width: 100%;
          height: 40px;
          border: 1px solid #c0c0c0;
          margin-bottom: 10px;
          box-sizing: border-box;
          padding-left: 40px;
          color: #454545;
        }
        .submit {
          background: #3e895a;
          text-transform: uppercase;
          height: 50px;
          border: 0px;
          outline: none;
          font-size: 25px;
          color: #ffffff;
          @include animation(sumbitmove 2s infinite);
        }
        .endtext{
          font-size: 15px;
          color: #ffffff;
        }
        .before{
          position: relative;

          &:before{
            @include pseudo-block($left:15px,$top:12px,$right:0,$bottom:0);
            @include oneline-sprite-box($icons, man)
          }
        }
        .beforetwo{
          position: relative;

          &:before{
            @include pseudo-block($left:15px,$top:12px,$right:0,$bottom:0);
            @include oneline-sprite-box($icons, telephoneicon)
          }
        }
        .beforethree{
          position: relative;

          &:before{
            @include pseudo-block($left:14px,$top:13px,$right:0,$bottom:0);
            @include oneline-sprite-box($icons, mailicon)
          }
        }
      }
    }
  }
}
/*FOOTER*/
